################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/InsuranceAPI/bin/Debug/netcoreapp3.1
